.navbar{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5vw;
    background: linear-gradient(black,rgb(23, 10, 10));
}

.headerleft{
    text-align: left;
    /* align-items: left; */
    /* flex-grow: 1; */
    padding-left: 50px;
    font-size: 22.5px;
    color: white;
    /* font-style: italic; */
    font-family: 'Times New Roman', Times, serif ;
 }
 .headerright{
    display: flex;
    text-align: right;
    /* flex-grow: 1; */
    column-gap: 2vw;
    color: white;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

.mul{
    background-color: white;
    color: black;
    padding: 10px 10px;
    border: 1px solid yellow;
    border-radius: 20px;

}

img{
    height: 2vw;
    width: 7vw;
}