.navbar{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    
}
.nav{
    border: 2px solid black;
    margin: 5px;
    padding: 3px;
    border-radius: 5%;
    background-color: whitesmoke;
}
.nav:hover{
    border: 2px solid lightblue;
    box-shadow: 2px 2px 2px green;
    align-items: center;
}